bin/
obj/
out/
project.assets.json
project.nuget.cache
*.dll
*.exe
*.pdb
*.dmp

# Rider
.idea/

# User-specific files
*.suo
*.user
*.userosscache
*.suo
*.vssscc
*.vscode/

# Mac
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# NuGet
*.nupkg
*.snupkg
*.nuspec
.nuget/
packages/
